# Posttest 5

Nurulfiqri Istiqamah Tahir <br>
2009106083

### Import Package

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### Read Dataset

In [2]:
df = pd.read_csv("titlesBersih.csv")
df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Movie,Show
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1,tt0047500,6.510861,23439.382474,0.600000,6.829175,0.0,1.0
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],2,tt0075314,8.200000,808582.000000,40.965000,8.179000,1.0,0.0
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],2,tt0068473,7.700000,107673.000000,10.010000,7.300000,1.0,0.0
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],2,tt0071853,8.200000,534486.000000,15.461000,7.811000,1.0,0.0
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,TV-MA,150,"['war', 'action']","['GB', 'US']",2,tt0061578,7.700000,72662.000000,20.398000,7.600000,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,TV-MA,100,"['romance', 'drama']",['NG'],2,tt13857480,6.800000,45.000000,1.466000,6.829175,1.0,0.0
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,TV-MA,134,['drama'],[],2,tt11803618,7.700000,348.000000,22.637925,6.829175,1.0,0.0
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,TV-MA,90,['comedy'],['CO'],2,tt14585902,3.800000,68.000000,26.005000,6.300000,1.0,0.0
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],2,tt0047500,6.510861,23439.382474,1.296000,10.000000,1.0,0.0
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,TV-MA,7,"['family', 'animation', 'comedy']",[],1,tt13711094,7.800000,18.000000,2.289000,10.000000,0.0,1.0

### Data Record

Melihat Tipe Data dan Data record

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5850 non-null   object
 1   title                 5850 non-null   object
 2   type                  5850 non-null   object
 3   description           5850 non-null   object
 4   release_year          5850 non-null   int64
 5   age_certification     5850 non-null   object
 6   runtime               5850 non-null   int64
 7   genres                5850 non-null   object
 8   production_countries  5850 non-null   object
 9   seasons               5850 non-null   int64
 10  imdb_id               5850 non-null   object
 11  imdb_score            5850 non-null   float64
 12  imdb_votes            5850 non-null   float64
 13  tmdb_popularity       5850 non-null   float64
 14  tmdb_score            5850 non-null   float64
 15  Movie                 5850 non-null   float64
 16  Show                  5850 non-null   float64
dtypes: float64(6), int64(3), object(8)
memory usage: 777.1+ KB

## 1. K-Nearest Neighbour (K-NN)

## 2. Modus